.sube-table-add-new-sube-button {
    width: 8rem;
    font-size: 0.5rem;
    background-color: #0066f4;
    border: 0px;
    border-radius: 5rem;
    cursor: pointer;
    span {
        color: white;
    }
}
.yeni-sube-ekle {
    font-size: 0.8rem;
}
