.ysc-page-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ysc-page-inner-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    H3 {
        font-weight: 550;
    }
}
.ysc-page-upper-container {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    button {
        width: 12%;
        height: 2rem;
        background-color: #0066f4;
        border: 0px;
        color: white;
        border-radius: 3rem;
        cursor: pointer;
    }
}
.ysc-page-input-row {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: auto;
    min-height: 5vh;
}
.ysc-page-input-row-left {
    display: flex;
    flex: 4;
    align-items: center;
    span {
        font-size: 0.7rem;
        color: black;
        font-weight: 550;
    }
}
.ysc-page-input-row-right {
    display: flex;
    flex: 14;
    select,
    input {
        border-radius: 4px;
        width: 100%;
        border: 1px solid #d2d2d2;
        padding-left: 1rem;
    }
}
.ysc-page-process-container {
    width: 100%;
    background-color: red;
    height: auto;
    background-color: white;
    border-radius: 9px;
    margin-top: 2rem;
}
.ysc-page-process-upper-container {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    span {
        font-size: 0.7rem;
        text-align: center;
        color: #343434;
    }
}
.ysc-page-upper-container-cell {
    flex: 1;
    height: 100%;
    background-color: white;
    border: 1px solid #0066f4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.cell-number-circle {
    position: absolute;
    width: 17%;
    height: 36%;
    border-radius: 50%;
    top: -18%;
    background-color: white;
    border: 1px solid #0066f4;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 550;
    color: #0066f4;
}
.ysc-page-upper-container-cell-active {
    flex: 1;
    height: 100%;
    background-color: #0066f4;
    border: 1px solid #0066f4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    span {
        font-size: 0.7rem;
        text-align: center;
        color: white;
    }
}

.ysc-page-hareketler-upper {
    width: 100%;
    height: 12vh;
    background-color: #0066f4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
.ysc-page-hareketler-upper-bar {
    flex: 1;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
        color: #0066f4;
    }
}

.ysc-page-hareketler-upper-bar-active {
    flex: 1;
    height: 100%;
    background-color: #0066f4;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: white;
    }
}
.ysc-table-upper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
.ysc-table-add-new-costumer-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #0066f4;
    border-radius: 20px;
    color: #0066f4;
    cursor: pointer;
    width: 15%;
    height: 2rem;
    justify-content: center;
    text-align: center;
}
.ysc-table-add-new-costumer-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0066f4;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    width: 15%;
    height: 2rem;
    justify-content: center;
    text-align: center;
    margin-right: 1rem;
    span {
        color: white;
        font-size: 0.65rem;
        margin-left: 0.4rem;
    }
}
.ysc-table-operations-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}
